{% extends 'base.html' %}
{% block content %}
<form action="http://{{web_host}}:{{web_port}}/login" method="POST">
  <div class="container">
  <div class="jumbotron">
    <div>
    <label for="fio">ФИО:</label><br>
    <input type="text" size="26" name="fio" id="fio">
    </div>
    <div class="form-group">
      <label for="inputDate">Укажите дату рождения:</label>
      <input type="date" class="form-control" size="26" name="data" id="data">
    </div>
    <br>
    <input type="submit" value="Подобрать">
</form>
<br>
<br>
<h3>Ответ платформы: </h3>
<PRE>
<CODE>
{{message}}
</CODE>
</PRE>
</div>
  </div>
{% endblock %}
